body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: ui-sans-serif, system-ui;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 460px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: #38B44A;
    /* color: #38B44A !important; */
}

/* ------------------- header-top ------------------- */
/* hide the blue outline */
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.header-tel {
    font-weight: 500;
    font-size: 20px;
}

.header-tel svg {
    display: inline;
    font-size: 24px;
    margin-right: 0.25rem;
}

.catalog-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-div svg {
    font-size: 20px;
    margin-left: 5px;
}

.catalog-btn {
    background: #38B44A;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    width: 131.38px;

}

.catalog-btn:hover {
    background: #30893d;
}

.catalog-btn:active {
    background-color: #30893d !important;
}